/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
html{
    scroll-behavior: smooth;
}

/* Root */
:root {
    --color-jumbo: #B4D0E7;
    --color-light-blue: #b4d0e7;
    --color-dark: #000000;
    --color-blue: #0061ff;
    --color-grey: #f5f5f5;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
}

/* Font */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
}

/* Flex Utilitys */
.lato-centro{ 
    padding: 100px;
    align-items: baseline;
    justify-content: center;
    align-content: center;
}
.d-flex {
    display: flex;
}
.baseline {
    display: flex;
    align-items: baseline;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.col-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    */
}
.list-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-team {
    display: flex;
    align-items: center;
}
.team-flex{
    align-items: baseline;
    justify-content: space-between;
}
.wrap{
flex-wrap: wrap;
}
.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.flex-schede{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.shrink{
    flex-shrink: 0;
}

/* Header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 0px 20px #818181;


}
.list-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img {
    width: 120px;
}
h1 {
    font-size: 76px;
    padding: 20px 0;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 80px;

}
.jumbo-tex p {
    line-height: 20px;
}
#jumbo {
    margin-top: 10px;
    margin-bottom: 160px;
    background-color: var(--color-jumbo)
}
ul {
    list-style: none;
    width: 100%;
    height: 100%;
}
header li {
    margin: 0px 20px;
}
nav a {
    text-decoration: none;
    color: #343434;
}

/* Button */
.blue-button1 {
    padding: 6px 15px;
    border: 0;
    background-color: #0061ff;
    color: white;
    margin-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 13.5px
}
.blue-button2 {
    padding: 8px 24px;
    border: 0;
    background-color: #0061ff;
    color: white;
    margin-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 13.5px;
    margin: 30px auto;
}
.button-piano {
    padding: 15px 40px;
    border: 0;
    background-color: #0061ff;
    color: white;
    font-size: 15px;
    margin: 30px 0;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;

}
.partner-button{
    padding: 8px 24px;
    background-color: white;
    border: 1px solid #818181;
    color: #818181;
    margin-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 13.5px;
    margin: 30px 19px;

}
button>a {
    text-decoration: none;
    color: white;
}

/* Button Hover */
.blue-button2:hover {
    box-shadow: 0px 0px 20px #818181;
    cursor: pointer;
}
.button-piano:hover {
    box-shadow: 0px 0px 20px #818181;
}
.partner-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px #818181;
}

/* Conteiner */
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}
.container-small {
    margin: 0 auto;
    max-width: 1000px;
}

/* Spacer */

#partners h3, #partners p, #partners button {
    padding: 20px;
}
#partners {
padding: 20px;
}
.padding-order{
    padding: 15px 35px;
}
.padding-order2{
    padding: 12px 34px 45px 35px;
}
.p-20 {
    padding: 20px;
}
.w-70 {
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
}
.w-30 {
    width: 30%;
}
.w-60 {
    width: 60%;
}
.w-40 {
    width: 30%;
}
.enterprise {
    margin-top: 50px;
}
.p-10 {
    padding: 10px 0;
}
.p-bot {
    padding-bottom: 30px;
}
.paddin-laterale {
    padding: 0 30px;
}
.margine {
    margin-top: 40px;
    margin-bottom: 100px;
}
label {
    padding: 10px;
}
.space {
    line-height: 35px;
}

/* Bordi */
.plan-border{
    border: 1px solid #c2c2c2;
}
.bordo-piani {
    border: 1px solid rgb(194, 194, 194);
}
.bordo-bottom {
    border-bottom: 1px solid #c2c2c2;
}
.bordo {
    display: inline-block;
    border-bottom: 1px solid rgb(206, 206, 206);
    height: 60px;
    margin-right: 5px;
    margin-bottom: 30px;
}

/* Posizioni */
.relative {
    position: relative;
    top: 70px;
    left: 0;
}

/* Business Feature */
#business-features{
    margin: 100px 0;
}
.header-feature{
    padding: 20px;
}
.content-feature{
   width: 100%
}
.colonna{
    width: calc(100% / 3);
    padding: 20px;
}
#business-features p{
    padding-top: 20px;
}
#business-features .dettagli{
    margin-top: 80px;
}
#business-features .dettagli h2{
    margin-bottom: 25px;
}

/* Customers */
#customers{
    margin: 100px 0;
}
#customers .sezione{
    width: calc(100vw / 3);
    aspect-ratio: 1 / 1;
}
#customers .customers-text div{
    width: calc( 100% / 2 );
    aspect-ratio: 1 / 1;
}
 .customers-text div img{
    width: 60%;
    filter: invert(100%);

}
.testo-centrale img{
    width: 60%;
    padding: 50px 20px 32px 44px;
}
.testo-centrale hr{
    width: 20%;
    opacity: 0.3;
    margin-left: 48px;
    margin-bottom: 20px;
}
#customers p{
    padding: 10px 45px;
    font-size: 14px;
}
.scroll{
    overflow-y: auto;
}

/* Footer Customers */
.footer-customer{
background-color: var(--color-jumbo);
color: var(--color-logo-second);
}
.footer-customer div{
    padding: 0 200px;
}
.footer-customer button{
    padding: 15px 50px;
    background-color: #ffffff;
    color: #000000;
    border: 0;
}

/* Footer Customers Pseudo-Element*/
.footer-customer button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px #818181;
}

/* BackGround Customer Color */
.green{
    background-color: var(--color-logo-green);
}
.bordò{
    background-color: #61082b;
}
.azzurro{
    background-color: var(--color-logo-third);
}
.red{
    background-color: var(--color-logo-light-red);
}
.red2{
    background-color: var(--color-logo-red);
}
.acqua{
    background-color: var(--color-jumbo);
}
.blue{
    background-color: var(--color-logo-blue);
}
.yellow{
    background-color: var(--color-logo-yellow);
}
.grey{
    background-color: #f5f5f5;
}
.effect:hover{
    border: 15px solid #D1E9CD;
}

/* Faq */
#faq details{
    border-bottom: 1px solid #c2c2c2;
    padding: 30px;
}
#faq h2{
    margin-bottom: 50px;
}
details {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  details:hover {
    cursor: pointer;
  }
  details:hover[open] summary {
    color: #0073e6; 
  }
  details[open] {
    background-color: #f9f9f9;
  }
  summary {
    font-weight: bold;
  }


/* Footer */
footer{
    background-color: var(--color-dark);
    color: white;
    line-height: 25px;
    padding: 100px;
}
footer a{
    color: white;
    text-decoration: none;
}

/* Extra */
.fa-arrow-down {
    font-size: 45px;
    padding-top: 80px;
    color: black;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
a {
    color: #1900ff;
}
.punti-salienti {
    margin-top: 40px;
}
.baseline i {
    margin-right: 5px;
    color: #0061ff;
    font-size: 15px;
}
.divided {
    width: calc(100% / 3);
}
.piani p {
    line-height: 25px;
}
input,
label {
    margin: 40px 0;
}
.header-plan {
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
    padding: 10px;
}

header{
    width: 100%;
}

debug{
    border: 1px solid red;
}